body::-webkit-scrollbar {
  width: 0;
  overflow: hidden;
}

body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}

body::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.1);
/* border: 1px solid rgba(112, 180, 63, 0.4);
border-radius: 4px; */
}

input[type="radio"] {
/* remove standard background appearance */
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
/* create custom radiobutton appearance */
display: inline-block;
width: 15px;
height: 15px;
padding: 3px;
/* background-color only for content */
background-clip: content-box;
border: 2px solid #fff000;
background-color: #fff000;
border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
/* background-color: #C81432; */
background-color: black; 
}

/* input.prechecked */

input.prechecked[type="radio"]:checked {
background-color: black;
}

.teamRadio {
cursor: pointer;
}

/* input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red;
} */

.circle:before {
content: ' \25CF';
font-size: 20px;
color:#fff000;
padding-right: 5px;
padding-left: 6px;
}


.nav-header:hover {
color:  #7393B3;
}

.nav-header {
color: #D3D3D3;
}

.header-logo {
transition: transform .2s;
}

.border-row td{
  padding:1px;
  border-bottom: 1px solid gray;
}
.header-logo:hover {
transform: scale(0.98)
}

.etherscanLink:hover {
transform: scale(0.95);
cursor: pointer;
}

.style{
  color: #fff;
  font-family: Arial;
}

.btn{
  background: yellow;
}

a.faqs-link:hover {
  background: #7393B3;
  border-radius: 5px;
  padding: 5px;
}

::placeholder {
color: #00ff00;
font-weight: 600;
}

 a.docu-header:hover {
color: #7393B3 !important;
}
a.docu-header {
color: #ECECEC !important;
}
/*
a.docu-header:hover, a.docu-header:hover p, a.docu-header:hover span {
  color: #249F87;
}
*/
p.docu-header, li.docu-header, div.docu-header  {
/* margin-top: 0in !important;
margin-right: 0in !important;
margin-bottom:  8.0pt !important;
margin-left:  0in !important;
line-height:  105% !important;  */
font-size:  18px !important;
font-family: "Calibri",sans-serif !important;
/*font-family:  "Times New Roman",serif !important;*/
}
/*
a.docu-header:hover, p.docu-header:hover > span:hover {
  color: rgb(30, 131, 110) !important;
}*/

/* h1.tech-head {
margin-top:12.0pt !important;
margin-right:0in !important;
margin-bottom:0in !important;
margin-left:0in !important;
margin-bottom:.0001pt !important;
line-height:105% !important;
page-break-after:avoid !important;
font-size:16.0pt !important;
font-family:"Times New Roman",serif !important;
color:#2F5496 !important;
font-weight:normal !important;
}

h2.tech-head {
margin-top:2.0pt !important;
margin-right:0in !important;
margin-bottom:0in !important;
margin-left:0in !important;
margin-bottom:.0001pt !important;
line-height:105% !important;
page-break-after:avoid !important;
font-size:13.0pt !important;
font-family:"Times New Roman",serif !important;
color:black !important;
font-weight:normal !important;
}

h3.tech-head {
margin-top:2.0pt !important;
margin-right:0in !important;
margin-bottom:0in !important;
margin-left:0in !important;
margin-bottom:.0001pt !important;
line-height:105% !important;
page-break-after:avoid !important;
font-size:12.0pt !important;
font-family:"Times New Roman",serif !important;
color:black !important;
font-weight:normal !important;
} */

/* span.MsoHyperlink {
color:#002060 !important;
text-decoration:underline !important;
}
a:visited, span.MsoHyperlinkFollowed {
color:#954F72 !important;
text-decoration:underline !important;
}

span.Heading1Char {
font-family:"Times New Roman",serif !important;
color:#2F5496 !important;
}

span.Heading2Char {
font-family:"Times New Roman",serif !important;
color:black !important;
}
span.Heading3Char {
font-family:"Times New Roman",serif !important;
color:black !important;
}

p.msonormal0, li.msonormal0, div.msonormal0 {
margin-right:0in !important;
margin-left:0in !important;
font-size:12.0pt !important;
font-family:"Times New Roman",serif !important;
}
.MsoChpDefault {
font-size:10.0pt !important;
font-family:"Calibri",sans-serif !important;
} */



/*  green
 rgb(213, 87, 87)  red */
